.offline-alert {
    background: #031a3eb0;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    z-index: 10;
    filter: drop-shadow(2px 4px 6px black);
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}

.offline-alert p {
    background: #9E9E9E;
    color: #000c;
    border: none;
    font-weight: 500;
    margin: 0 15px 0 0;
}

.offline-alert p span {
    font-size: 20px;
    margin-right: 3px
}

.offline-alert button {
    background: transparent;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 30px;
    
}

@media(max-width: 450px) {
    .offline-alert p {
        font-size: 15px
    }

    .offline-alert p span {
        font-size: 18px;
    }

}