.contact {
    margin: 50px auto
}

.contact h2.title {
    margin: 25px auto
}

.contact .item {
    font-size: 20px;
    border-radius: 0;
    padding: 10px;
    margin: auto;
    background: #2196f3;
    color: #fff;
    border-radius: 30px;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,.5))
}

.contact .item.whatsapp {
    background: #06de06
}

.contact .item.tel {
    background: #00b583
}

.contact .item a {
    color: #fff
}

.contact .item svg {
    font-size: 30px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    padding: 10px;
    filter: drop-shadow(2px 4px 6px black);
    box-shadow: 2px 4px 4px #000000b8
}
