.dashboard {
    border: 1px solid #bbb;
    margin: 50px auto;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashboard-section {
    text-align: start;
    margin: 50px auto;
}

.dashboard-section .sections .section-item {
    padding: 10px;
    margin: 10px auto;
    font-size: 23px;
}

.dashboard-section .sections .section-item .name-of-section {
    position: relative;
}

.dashboard-section .sections .section-item .name-of-section span {
    font-weight: bold;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 5px;
    position: relative;
}

.dashboard-section .sections .section-item .length-of-section .the-length{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 2px;
}

.dashboard-section .sections .section-item .prograssbar {
    border-radius: 30px;
    background: #ececec;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    margin: 5px auto
}

.dashboard-section .sections .section-item .prograssbar .progress {
    border-radius: 30px;
    background-color: #09d21d;
    transition: all 1.5s ease-in-out;
    padding: 14px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

}

.dashboard-section .sections .section-item a {
    background-color: #1976bf;
    color: #fff;
    border-radius: 30px;
    margin: 15px auto;
}