header {
    height: 75vh;
    color: #fff;
    position: relative;
    background: url('https://drive.google.com/uc?export=view&id=1ba04ajHwVzAaITPeRoGHV-pVd2QrVKoM') center no-repeat;
    background-size: cover;
    box-shadow: 0 5px 5px #00000094
}

header > .content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

header .content h1{
    color: #fff;
    font-weight: 300;
    font-size: 57px;
}

header .content .buttons {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header .content .buttons a {
    border-radius: 30px;
    margin: 10px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.7);
    background: #007bffa6
}

header .content .buttons a.btn-secondary {
    background: #00c708a6;
}

header .content .buttons a svg {
    margin: 0 5px;
    font-size: 14px;
    filter: drop-shadow(4px 4px 3px black);
    font-size: 25px;
}

header div.go-down-icon {
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    cursor: pointer; 
    animation: godown 2s ease infinite
}

@keyframes godown {
    0%, 100%{
        opacity: 0;
        transform: translateY(0)
    }
    50% {
        opacity: 1;
        transform: translateY(20px)
    }
}

@media (max-width: 600px) {

header .content h1{
    font-size: 37px;
}
header div.go-down-icon {
    left: 45%;
}

}

