nav.navbar {
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background: linear-gradient(180deg, black, transparent );
    display: flex;
    color: #fff;
    z-index: 2;
    filter: drop-shadow(2px 4px 6px black);
}

nav.navbar .logo {
    text-align: left;
    font-size: 25px;
    font-weight: 100
}

nav.navbar .logo a {
    text-decoration: none;
    color: inherit
}

nav.navbar .logo span {
    font-weight: bold;
    color: #2196f3
}

nav.navbar ul {
    display: flex;
    text-align: right;
    margin:0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

nav.navbar ul li {
    margin-right: 5px;
}

nav.navbar ul li a {
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #007bff;
    border-radius: 30px;
    cursor: pointer;
    outline-color: #9C27B0 !important;
    transition: all .1s linear;
    text-decoration: none;
    font-weight:bold
}

nav.navbar ul li a:hover,
nav.navbar ul li a:focus,
nav.navbar ul li a.active {
    color: #2196f3;
    background: #fff
}

@media (max-width: 600px) {
    nav.navbar .logo {
        margin: 5px auto
   }
nav.navbar ul {
    overflow-x: auto;
    margin: auto;
}

nav.navbar ul a{
    font-size: 13px
}

}