.tesimonials {
    margin: 50px auto;
}

.tesimonials .head {
    padding: 10px;
    background: url('https://drive.google.com/uc?export=view&id=1em23M5m0nJWw_gAjzZ6Risoz8AyN6v_q') center ;
    background-size: cover;
    color: #fff;
    margin: 20px auto;
    filter: drop-shadow(2px 4px 6px black);
}

.tesimonials .head img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 3px;
    border: 2px solid #2196f3;
    filter: drop-shadow(2px 4px 6px black);
}

.tesimonials .head h3.name {
    font-size: 17px;
    font-weight: bold;
    color: #fff
}

.tesimonials .head q.content {
    font-size: 20px;
    font-style: italic
}