.about {
    margin: 100px auto 50px;
}

.about hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    background: linear-gradient(45deg, transparent, #fff, transparent);
    height: 1px;
}

.about .row {
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
    transition: all .1s ease;
    text-align: center;
    background: #2196f3d9;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.about .head {
    border-radius: 100%;
}

.about .head ul {
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .head ul li a{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: rgb(255 255 255 / 95%);
    filter: drop-shadow(2px 4px 6px black);
    color: #006dc3;
}

.about .head img{
    width: 300px;
    border-radius: 100%;
    padding: 5px;
    height: 300px;
    text-align: center;
    display: block;
    margin: auto;
    filter: drop-shadow(2px 4px 6px black);
}

.about .body p {
    font-size: 22px
}