.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 0
}

.companies a  {
    color: #333 !important;
    text-decoration: none !important
}

.companies a li {
    margin: 0 5px
}

.companies a li img{
    width: 70px;
    height: 70px;
    filter: grayscale(1);
    transition: all .2s linear
}

.companies a:hover li img {
    filter: grayscale(0)
}

.companies a li h6 {
     display: block
}

@media (max-width:600px) {
    .companies a li img{
    width: 40px;
    height: 40px;
}
}