.contact {
    margin: 50px auto
}

.contact h2.title {
    margin: 25px auto
}

.contact .item {
    font-size: 20px;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    width:50%;
    margin: auto;
}

.contact .item:hover {
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.contact .item a {
    color: #000
}

.contact .item svg {
    color: #2196f3;
    font-size: 30px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px
}
