.filter-products {
    margin: 0 auto 50px;
    text-align: right;
    padding: 0 0 20px;
    color :#000;
    background: linear-gradient(360deg, #fff 5%, #007bff);
}

.filter-products .first-bar {
    background: url("../../assets/images/filter-back.png") center no-repeat;
    background-size: cover;
    height: 200px;
    width: 50%;
    margin: auto;
}

.filter-products .pay-method-logo {
    position: absolute;
    top: 5px;
    left: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.filter-products .secondary-navbar{
    background-size: cover;
    color: #fff
}

.filter-products .secondary-navbar {
    background: transparent
}

.filter-products label {
    font-weight: bold
}

.filter-products select {
    direction: rtl;
    border: 1px solid #007bff;
    width: 50%
}

@media (max-width: 600px) {
    .filter-products .first-bar {
        height: 110px;
        width: 100%;
    }
}