footer {
    position: relative;
    bottom:0;
    left:0;
    width: 100%;
    padding :10px;
    background: rgb(26 14 49);
    color : #999;
    margin: 0 !important
}

footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0
}

footer .footer-links a {
    color: #999;
    text-decoration: none !important;
    font-size: 20px;
    padding: 10px
}

footer .footer-links a:hover {
    color: #FFF;
}

footer .copy {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top:5px
}

footer .footer-line {
    position: absolute;
    display: block;
    bottom: 0;left:0;
    height:4px;
    width:100%;
    background: linear-gradient(90deg, rgb(199, 13, 13), rgb(196, 196, 11), rgb(11, 207, 11), rgb(11, 201, 207), rgb(40, 11, 207), rgb(191, 11, 207), rgb(207, 11, 76))
}