.pay-method {
    margin: 50px auto;
}

.pay-method > h2 {
    margin-bottom: 25px
}

.pay-method .pay-item {
    margin: 50px auto
}

.pay-method .pay-item p{
    font-size: 18px
}

.pay-method .pay-item img{
    width: 40%;
    border-radius: 100%
}

.pay-method > a {
    font-size: 18px
}

.pay-method > a svg{
    font-size: 23px
}

.pay-method h3.order-now {
    margin-bottom: 20px
}