.products {
    margin: 0 auto 50px
}

.product {
    margin-bottom: 20px
}

.product .card{
    border-radius: 10px;
    overflow: hidden;
    border: none;
    transition: all .2s linear
}

.product .card:hover{
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.5));
}

.product .card .head img{
    width:100%;
    height: 200px
}

.product .card .body{
     padding: 10px
}

.product .card .desc {
    text-align: start
}

.product .prices {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr
}

.product .price {
    font-weight: bold;
    margin: 0 2px
}

.product .price.old {
    text-decoration: line-through;
}

.product .price.new {
    color: red
}

.product .ref {
    background: rgb(255 247 5);
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 10px auto;
    width: 50%;
}

.product a.order {
    display: block;
    font-weight: bold;
    margin: 15px auto;
    direction: ltr
}

.product a.order svg {
    font-size: 20px;
}
