.secondary-navbar {
    padding: 0 10px;
    margin: 0 auto 30px;
    background: linear-gradient(360deg, rgba(255,255,255, .5), #007bff);
    padding: 10px;
    color :#fff;
    height: 70px
}

.secondary-navbar a {
    font-size: 35px;
    color :inherit;
    display: flex;
    text-align: right;
    
}

.secondary-navbar a:hover {
    color :inherit
}