.services {
    margin: 50px auto
}

.services h2.title{
    margin: 10px auto 20px
}

.services .row {
    background: #efefef;
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.services .card {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    background: #2196f3;
    filter: drop-shadow(2px 4px 6px black);
}

.services .card:hover {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3))
}

.services .card .head {
    border-radius: 100%;
    border: 1px solid #bbb;
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px auto;
    transition: all .2s ease;
    background: #2196f3;
    color: #fff;
}

.services .card:hover .head {
    background: #fff;
    color: #2196f3;
}

.services .body {
    font-size: 20px
}

.services .body h5 {
    color: #eee;
    font-size: 18px;
    margin-bottom: 15px
}

.services .body h6 {
    font-size: 1rem;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 30px;
    background: #004767;
    filter: drop-shadow(2px 4px 6px black);
    margin: 10px;
}