.works {
    text-align: start
}

.works .video  {
    width: 70%;
    border-radius: 5px;
    position: relative;
    margin: 30px auto 60px;
    padding: 0;
}

.works .video .play-icon {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    color: #2196f3;
    cursor: pointer;
    z-index: 2;
    transition: all .2s linear;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.works .video .play-icon.clicked {
    opacity: 0
}

.works .video:hover .play-icon.clicked{
    opacity: 1
}

.works .video .progress {
    position: absolute;
    bottom: -7px;
    height: 10px;
    border-bottom: 6px solid #007bff;
    transition: all .7s linear;
    background: none
}

.works .video video {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.works h1 {
    font-size: 38px;
}

.works h4.top-video {
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,.2));
    color: #616161;
    font-size: 35px
}

.works h5 {
    color: #007bff;
    font-size: 24px
}

.works h3 {
    margin: 20px auto
}

.works .go {
    font-size: 34px;
    direction: ltr;
    color: red
}

.works .item {
    padding: 0;
    color: #fff;
    margin: 50px auto;
    border-radius: 10px
}

.works .item  .row {
    margin: 0
}

.works .item.one {
    background: #2196f3
}

.works .item.tow {
    background: #E91E63;
}

.works .item h4{
    color: #fff;
    margin: 20px auto
}

.works .item.one h4.title::after{
    background: #e91e63
}


.works .item.one h4.title::before {
    border-top-color: #e91e63
}

.works  p{
    font-size: 23px;
    text-align: center
}

.works .item p{
    font-size: 20px;
    text-align: right
}

.works .item .image {
    padding: 0;
    position: relative;
    display: flex;
}

.works .item .image img{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    width: 100%;
    border-radius: 10px;
}

.works .item .image .points {
    position: absolute;
    top: 15px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.works .item .image .points span {
    margin-right: 5px;
    width:13px;
    height: 13px;
    border-radius: 100%;
}

.works .item .image .points span:first-of-type {
    background-color: red;
}

.works .item .image .points span:nth-of-type(2) {
    background-color: #00f500
}

.works .item .image .points span:last-of-type {
    background-color: yellow;
}

.works .demand {
    margin: 50px auto
}

.works .demand h2 {
    margin-bottom: 35px
}

.works .demand > div{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr
}

.works .demand > div .help{
    padding: 10px;
    background: #2196f3;
width: 150px;
height: 55px;
margin-right: 15px;
border-radius: 5px;
box-shadow: -2px 2px 2px rgba(0,0,0,.3);
position: relative;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.works .demand > div .help::after {
    position: absolute;
    content: "";
    top: 10px;
    right: -20px;
    border: 10px solid;
    border-color: transparent;
    border-left-color: #2196f3
}

.works .demand > div .image {
    border-radius: 100%;
    
}

.works .demand > div .image img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 3px solid #2196f3;
    padding: 3px;
}

.works .demand .button {
    margin: 20px auto
    
}

.works .demand .button a {
    background: #E91E63;
    color :#fff;
    font-weight: bold;
    width: 200px;
box-shadow: -2px 2px 2px rgba(0,0,0,.3);
    
}

