.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.title{
    position: relative;
    padding-bottom: 10px
}

.title::after {
    content: "";
    width: 30%;
    background: #2196f3;
    height: 2px;
    display: block;
    margin: 20px auto 0;
}

.title::before {
    content: "";
    margin: auto;
    position: absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-top-color: #2196f3;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.fixed-messenger {
    position: fixed !important;
    bottom: 15px;
    right: 15px;
    z-index: 3
}

.fixed-messenger .icon {
    background: #2196f3;
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 2px 2px #00000045
}


.fixed-messenger .icon::after {
    content: "2";
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: red;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold
}

.fixed-messenger .icon.open::after {
    display: none
}

.fixed-messenger .icon .outline {
    animation: call 2s linear infinite;
    border: 2px solid red;
    width:100%;
    height: 100%;
    border-radius: 100%;
    position: absolute
}

.fixed-messenger .icon .outline.hidden {
    display: none
}

@keyframes call {
    0%,{
        transform: scale(1);
        opacity: 1
    }
    25% {
        opacity: .5
     }
    50% {
        transform: scale(1.7);
        opacity: 0
    }
    100% {
        transform: scale(1);
        opacity: 0
    }
}

.fixed-messenger .body {
    width: 300px;
    max-height: 0;
    position: absolute;
    right: 0;
    background: url('./assets/images/messenger-back.jpg');
    top: 0;
    border-radius: 10px;
    opacity: 0;
    transition: all .3s linear;
    overflow: hidden;
    z-index:-1;
    box-shadow: 2px 2px 2px #00000045
}

.fixed-messenger .body.open {
    max-height: 250px;
    top: -250px;
    right: 10px;
    opacity: 1;
    z-index: 1
}

.fixed-messenger .body.open .head {
    background:#001525;
    color: #fff;
    display: flex;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    direction: ltr;
}

.fixed-messenger .body .head img {
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.fixed-messenger .body .head .img {
    border-radius: 100%;
    margin-right: 7px;
    position: relative
}

.fixed-messenger .body .head .img::after {
    content: "";
    width:10px;
    height: 10px;
    border-radius: 100%;
    background: #0fe00f;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0
}

.fixed-messenger .body .head .info p{
    margin:0;
    font-size: 13px;
    color: #bbb
}

.fixed-messenger .body .head .info h5 {
    margin:0;
    font-size: 15px
}

.fixed-messenger .content {
    padding: 10px;
}

.fixed-messenger .content .message {
    background: #001525;
    background-size: cover;
    color: #eee;
    padding: 10px;
    border-radius: 0 10px 10px;
    font-size: 15px;
    text-align: start;
    position: relative
}

.fixed-messenger .content .message::after {
    content: '';
    border: 8px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #0a1b22;
    border-left-color: transparent;
    /* height: 10px; */
    display: inline-block;
    position: absolute;
    top: -8px;
    left: -5px;
    transform: rotate(45deg);
}

.fixed-messenger .content .send-message {
    margin: 30px auto 0
}

.fixed-messenger .content .send-message a {
    color: #272727;
    background-color: #fff;
    border-color: #001525;
    padding: 5px;
    display: block;
    text-align: start;
    position: relative;
    cursor: text
}

.fixed-messenger .content .send-message a svg {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #001525
}