.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h2.title{
    position: relative
}

h2.title::after {
    content: "";
    width: 30%;
    background: purple;
    height: 2px;
    display: block;
    margin: 5px auto;
}

h2.title::before {
    content: "";
margin: auto;
position: absolute;
bottom:-20px;left:50%;
transform: translateX(-50%);
    border: 10px solid;
    border-top-color: purple;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
