html {
    scroll-behavior: smooth;
    direction: rtl;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: -1;
}

body {
  margin: 0;
  font-family: "Almarai", sans-serif
}

* {
    user-select: none
}